$breakpoint-up: (
    "small" : "500px",
    "medium": "768px",
    "large": "1024px",
    "x-large": "1440px",
);
$breakpoint-down: (
    "ex-small" : "499.98px",
    "small": "767.98px",
    "medium": "1023.98px",
    "large": "1439.98px",
);

@mixin breakpoint-up($size-name) {
    @media screen and (min-width: map-get($breakpoint-up, $size-name)) {
        @content;
    }
}

@mixin breakpoint-down($size-name) {
    @media screen and (max-width: map-get($breakpoint-down, $size-name)) {
        @content;
    }
}

@mixin icon-size($px-size) {
    height: $px-size;
    width: $px-size;
    background-size: $px-size $px-size;
}
